.pager{
    position: relative;
    height: 100%;
}
.pager .background{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.pager .sub-header{
    position: absolute;
    width: 100%;
    top: 10.4%;
    text-align: center;
}
.pager .sub-header img{
    width: 21.3%;
}
.pager .box{
    position: absolute;
    width: 100%;
    top: 18.3%;
    text-align: center;
}
.pager .box h1{
    margin: 0;
    color: #170606;
}
.pager .box .page_number{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
.pager .box .numbers{
    width: 60%;
    margin: 0 auto;
}
.pager .box .numbers .line{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.pager .box .numbers .line div{
    text-align: center;
    margin: 0 auto;
    font-family: 'texgyreadventor', sans-serif;
    width: 33.33%;
    border: none;
    background: transparent;
    color: #424242;
}
.pager .confirm{
    font-family: 'texgyreadventor', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #ffba22;
    color: #ffba22;
}
@media (min-width: 768px){
    .pager .box h1{
        font-size: 60px;
    }
    .pager .box .page_number{
        font-size: 120px;
        border-bottom: 5px solid #424242;
    }
    .pager .box .numbers .line div{
        font-size: 120px;
    }
    .pager .box .numbers .line div mat-icon{
        font-size: 100px;
        width: 100px;
        height: 100px;
    }
    .pager .confirm{
        margin-top: 40px;
        font-size: 60px;
        padding: 20px 30px;
    }
}
@media (max-width: 767px){
    .pager .box h1{
        font-size: 20px;
    }
    .pager .box .page_number{
        font-size: 35px;
        border-bottom: 2px solid #424242;
    }
    .pager .box .numbers .line div{
        font-size: 40px;
    }
    .pager .box .numbers .line div mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
    }
    .pager .confirm{
        margin-top: 10px;
        font-size: 30px;
        padding: 5px 10px;
    }
}
