.pager{
    color: #424242;
    text-align: center;
    height: 100vh;
    position: relative;
}
.pager .header{
    height: 94px;
    background-image: url('/assets/img/3.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.pager .sub-header img{
    height: 40px;
}
.pager h1{
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
}
.pager .page_number{
    width: 60vw;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid #424242;
    margin-bottom: 25px;
}
.pager .numbers{
    width: 60vw;
    margin-bottom: 30px;
    margin: 0 auto;
}
.pager .numbers .line{
    display: flex;
    justify-content: space-around;
}
.pager .numbers .line button{
    font-family: 'texgyreadventor', sans-serif;
    font-size: 45px;
    width: 33.33%;
    height: 63px;
    border: none;
    background: transparent;
    outline: none;
    color: #424242;
}
.pager .numbers .line button mat-icon{
    font-size: 33px;
    width: 33px;
    height: 33px;
}
.pager .confirm{
    font-family: 'texgyreadventor', sans-serif;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #ffba22;
    color: #ffba22;
    width: 90px;
    height: 55px;
    margin-top: 35px;
}
.pager .help{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.pager .help mat-icon{
    font-size: 45px;
    width: 50px;
    height: 50px;
}
