.list{
    position: relative;
    height: 100%;
}
.list .background{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.list .header{
    position: absolute;
    width: 100%;
}
.list .header .category_name{
    font-family: 'raustila';
    margin: 0;
    text-align: center;
}
.list .header .category{
    width: 100%;
    text-align: center;
    margin: 0;
}
.list .header .category span{
    cursor: pointer;
    position: relative;
}
.list .header .category span:before{

}
.list .products{
    position: absolute;
    width: 77.8%;
    height: 72.9%;
    top: 11.7%;
    left: 11%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.list .products .product{
    position: relative;
    width: 30%;
    height: 23.6%;
    margin: 1%;
    background: white;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(117,117,117,1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(117,117,117,1);
    box-shadow: 3px 3px 5px 1px rgba(117,117,117,1);
}
.list .navigator{
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.list .navigator mat-icon{
    cursor: pointer;
}
.list .navigator .previous{
    transform: scale(-1);
}
.list .products .product img{
    position: absolute;
    width: 85%;
    left: 7.5%;
    top: 5%;
}
.list .products .product img.separator{
    top: 67%;
}
.list .products .product .product_description{
    position: absolute;
    width: 100%;
    bottom: 3%;
}
.list .products .product .product_description p{
    margin: 0;
    text-align: center;
}
.list .footer{
    position: fixed;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list .footer div{
    background: white;
    border-radius: 50%;
    text-align: center;
}

@media (min-width: 768px){
    .list .header{
        top: 50px;
    }
    .list .header .category_name{
        font-size: 100px;
        line-height: 100px;
    }
    .list .header .category span{
        font-size: 25px;
    }
    .list .navigator{
        width: 94%;
        left: 3%;
        top: 48%;
    }
    .list .navigator mat-icon{
        font-size: 60px;
        width: 60px;
        height: 60px;
    }
    .list .products .product .product_description p{
        font-size: 20px;
        line-height: 30px;
    }
    .list .footer div{
        width: 100px;
        height: 100px;
    }
    .list .footer mat-icon{
        font-size: 80px;
        width: 80px;
        height: 80px;
        line-height: 100px;
    }
}
@media (max-width: 767px){
    .list .header{
        top: 30px;
    }
    .list .header .category_name{
        font-size: 40px;
        line-height: 20px;
    }
    .list .header .category span{
        font-size: 10px;
    }
    .list .navigator{
        width: 94%;
        left: 3%;
        top: 45%;
    }
    .list .navigator mat-icon{
        font-size: 25px;
    }
    .list .products .product .product_description p{
        font-size: 9px;
        line-height: 12px;
    }
    .list .footer div{
        width: 40px;
        height: 40px;
    }
    .list .footer mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 40px;
    }
}
@media (max-width: 380px){
    .list .header{
        top: 26px;
    }
    .list .products{
        top: 14%;
    }
    .list .products .product .product_description p{
        font-size: 8px;
        line-height: 10px;
    }
}
