<div class="list">
    <img class="background" src="assets/img/v2/background.jpg" alt="MeetFresh background">
    <div class="header">
        <p class="category_name" [ngStyle]="{color: menu.color}">{{menu.name}}</p>
        <p class="category">
            <span
                *ngFor="let item of global.category; let i = index;"
                [ngStyle]="{'color': i == category_id - 1 ? 'red' : 'black'}"
                (click)="setCategory(item.id)">&nbsp;{{item.name}}
            </span>
        </p>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of products" (click)="add_product(product)">
            <div class="product_id" style="display: none">{{product.id}}</div>
            <img src="{{product.img}}" alt="Images for category">
            <img class="separator" src="assets/img/v2/decorator2.png" alt="Images for separator">
            <div class="product_description">
                <p>{{product.name}}</p>
                <p>$ {{product.price}}</p>
            </div>
        </div>
    </div>
    <div class="navigator">
        <mat-icon class="previous" (click)="previous()">play_arrow</mat-icon>
        <mat-icon class="next" (click)="next()">play_arrow</mat-icon>
    </div>
    <div class="footer">
        <div class="cancel">
            <mat-icon (click)="cancel()">close</mat-icon>
        </div>
        <div class="home">
            <mat-icon (click)="go_menu()">home</mat-icon>
        </div>
        <div class="cart">
            <mat-icon (click)="cart()">shopping_cart</mat-icon>
        </div>
    </div>
    <app-sbm></app-sbm>
</div>
