<div class="end">
    <img class="background" src="assets/img/background.png" alt="MeetFresh background image"/>
    <div class="image">
        <img src="assets/img/dinein.png" alt="MeetFresh Dine In">
    </div>
    <div class="image">
        <img src="assets/img/togo.png" alt="MeetFresh Dine In">
    </div>
    <div class="footer">
        <button type="button" name="button" (click)="back()">Back</button>
    </div>
    <div class="sbm">
        Powered By SBM Technology Corp
    </div>
</div>
