.end{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.end .background{
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.end .image{
    width: 80%;
    margin: 20px 0;
}
.end .image img{
    width: 100%;
}
.end .footer{
    position: fixed;
    bottom: 0;
    height: 94px;
    background-color: black;
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end .footer button{
    background: transparent;
    color: white;
    padding: 0 20px;
    line-height: 40px;
    outline: none;
    font-family: 'texgyreadventor';
    border: 1px solid white;
    font-size: 17px;
}
.end .sbm{
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
    max-width: 450px;
    line-height: 25px;
}
