<div class="thankyou">
    <img class="background" src="/assets/img/v2/background.jpg" alt="MeetFresh background">
    <div class="box">
        <div class="img ty">
            <img src="/assets/img/v2/thankyou.png" alt="MeetFresh thankyou">
        </div>
        <h1>Thank you for your order.</h1>
        <h3>Don't forget to join us!</h3>
        <div class="img qr">
            <img src="/assets/img/v2/QR.png" alt="MeetFresh barcode">
        </div>
        <div class="img social">
            <a href="https://www.facebook.com/MeetFreshUSA/" target="_blank"><img src="/assets/img/v2/FB.png" alt="MeetFresh facebook"></a>
        </div>
        <div class="img social">
            <a href="https://www.instagram.com/meetfreshvancouver/?hl=en" target="_blank"><img src="/assets/img/v2/IG.png" alt="MeetFresh instagram"></a>
        </div>
        <div class="img social">
            <a href="https://www.wechat.com/en" target="_blank"><img src="/assets/img/v2/WC.png" alt="MeetFresh wechat"></a>
        </div>
    </div>
</div>
