<div class="home">
    <img class="background" src="/assets/img/v2/home.jpg" alt="MeetFresh background image"/>
    <div class="logo">
        <img src="/assets/img/v2/logo.png" alt="MeetFresh logo">
    </div>
    <div class="header">
        <h1>Top Seller</h1>
        <h3>Taro Ball Signature</h3>
    </div>
    <div class="footer">
        <button type="button" name="touch-to-start" routerLink="/type">Touch to Start</button>
        <button type="button" name="update-the-points">Update The Points</button>
    </div>
    <app-sbm></app-sbm>
</div>
