<div class="home">
    <img class="background" src="assets/img/home-background.png" alt="MeetFresh background image"/>
    <div class="logo">
        <img src="{{ logo }}" alt="MeetFresh logo">
    </div>
    <div class="header">
        <h1>Top Seller</h1>
        <h3>Taro Ball Signature</h3>
    </div>
    <div class="footer">
        <button type="button" name="touch-to-start" routerLink="/pager">Touch to Start</button>
        <button type="button" name="update-the-points">Update The Points</button>
    </div>
    <div class="sbm">
        Powered By SBM Technology Corp
    </div>
</div>
