.customize{
    position: relative;
    height: 100%;
}
.customize .background{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.customize .topping-image{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}
.customize .topping-image mat-icon{
    position: absolute;
    color: white;
    mix-blend-mode: difference;
    cursor: pointer;
}
.customize .header{
    position: absolute;
    width: 100%;
}
.customize .header .customize_name{
    font-family: 'raustila';
    margin: 0;
    text-align: center;
}
.customize .header .bread_crumb{
    text-align: center;
    margin: 0;
}
.customize .box{
    position: absolute;
    width: 82.35%;
    height: 72.9%;
    top: 13%;
    left: 8.8%;
}
.customize .box .order{
    position: relative;
    width: 100%;
    height: 26.8%;
    margin-bottom: 2.1%;
    background: white;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
}
.customize .box .order img{
    position: absolute;
    width: 40%;
    left: 5%;
    top: 7%;
}
.customize .box .order .description{
    position: absolute;
    width: 40%;
    height: 90%;
    right: 5%;
    top: 5%;
}
.customize .box .order .description .name{
    width: 100%;
    text-align: center;
    margin: 0;
}
.customize .box .order .description .separator{
    left: 15%;
    width: 70%;
}
.customize .box .order .description .names{
    width: 100%;
    text-align: center;
    margin: 0;
}
.customize .box .order .description .specification{
    width: 100%;
    text-align: center;
    color: red;
}
.customize .box .topping{
    position: relative;
    width: 100%;
    height: 52.8%;
    margin-bottom: 2.1%;
    background: white;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    overflow-y: scroll;
}
.customize .box .topping p{
    margin: 0;
    width: 100%;
    text-align: center;
    color: #eb9239;
}
.customize .box .topping .topping_list{
    text-align: right;
}
.customize .box .level{
    position: relative;
    width: 100%;
    height: 16.8%;
    background: white;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.27);
}
.customize .box .level p{
    color: #eb9239;
    margin: 0;
}
.customize .box .level .sugar_level{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
.customize .box .level .sugar_level .lists{
    text-align: right;
    position: absolute;
    left: 0;
}
.customize .box .level .ice_level{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
}
.customize .box .level .ice_level .lists{
    text-align: right;
    position: absolute;
    right: 35%;
}
.customize .footer{
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customize .footer button{
    padding: 3%;
    margin: 2%;
    background-color: black;
    line-height: 40px;
    color: white;
    outline: none;
    font-family: 'texgyreadventor';
}
.customize .footer div{
    background: white;
    border-radius: 50%;
    position: absolute;
    text-align: center;
}
.customize .footer .home{
    left: 7%;
}
.customize .footer .cart{
    right: 7%;
}
@media (min-width: 768px){
    .customize .header{
        top: 50px;
    }
    .customize .header .customize_name{
        font-size: 100px;
        line-height: 100px;
    }
    .customize .header .bread_crumb{
        font-size: 25px;
    }
    .customize .box .order .description .name{
        font-size: 50px;
        line-height: 100px;
        max-height: 100px;
        overflow: auto;
    }
    .customize .box .order .description .separator{
        top: 30%;
    }
    .customize .box .order .description .names{
        font-size: 23px;
        margin-top: 15%;
    }
    .customize .box .order .description .specification{
        font-size: 26px;
    }
    .customize .box .topping p{
        font-size: 35px;
        line-height: 100px;
    }
    .customize .box .topping .topping_list{
        width: 72.5%;
        line-height: 60px;
    }
    .customize .box .topping .topping_list .item{
        font-size: 22.5px;
    }
    .customize .box .topping .topping_list .count{
        padding: 0 4%;
        margin: 0 2%;
        border: 1px solid black;
        line-height: 22.5px;
        font-size: 22.5px;
    }
    .customize .box .topping .topping_list mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin: 0 1%;
    }
    .customize .box .level p{
        font-size: 30px;
        line-height: 70px;
    }
    .customize .box .level .sugar_level .lists{
        width: 65%;
    }
    .customize .box .level .ice_level .lists{
        width: 65%;
    }
    .customize .box .level .lists span{
        font-size: 22.5px;
        line-height: 50px;
    }
    .customize .box .level .lists mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .customize .topping-image{
        margin-left: -200px;
        margin-top: -200px;
        width: 400px;
        height: 400px;
    }
    .customize .topping-image img{
        width: 400px;
        height: 400px;
    }
    .customize .topping-image mat-icon{
        right: 15px;
        top: 15px;
        font-size: 50px;
        width: 50px;
        height: 50px;
    }
    .customize .footer button{
        font-size: 53px;
        line-height: 50px;
        border: 2px solid white;
    }
    .customize .footer div{
        width: 100px;
        height: 100px;
    }
    .customize .footer mat-icon{
        font-size: 80px;
        width: 80px;
        height: 80px;
        line-height: 100px;
    }
}
@media (max-width: 768px){
    .customize .header{
        top: 30px;
    }
    .customize .header .customize_name{
        font-size: 40px;
        line-height: 30px;
    }
    .customize .header .bread_crumb{
        font-size: 10px;
    }
    .customize .box .order .description .name{
        font-size: 20px;
        line-height: 50px;
        max-height: 50px;
        overflow: auto;
    }
    .customize .box .order .description .separator{
        top: 35%;
    }
    .customize .box .order .description .names{
        font-size: 9px;
        margin-top: 10%;
    }
    .customize .box .order .description .specification{
        font-size: 12px;
    }
    .customize .box .topping p{
        font-size: 15px;
        line-height: 40px;
    }
    .customize .box .topping .topping_list{
        width: 75%;
        line-height: 20px;
    }
    .customize .box .topping .topping_list .item{
        font-size: 10px;
    }
    .customize .box .topping .topping_list .count{
        padding: 0 4%;
        margin: 0 2%;
        border: 1px solid black;
        line-height: 12px;
        font-size: 10px;
    }
    .customize .box .topping .topping_list mat-icon{
        font-size: 12px;
        width: 12px;
        height: 12px;
        margin: 0 1%;
    }
    .customize .box .level p{
        font-size: 12px;
        line-height: 30px;
    }
    .customize .box .level .sugar_level .lists{
        width: 65%;
    }
    .customize .box .level .ice_level .lists{
        width: 65%;
    }
    .customize .box .level .lists .level_list{
        height: 15px;
    }
    .customize .box .level .lists span{
        font-size: 9px;
        line-height: 10px;
    }
    .customize .box .level .lists mat-icon{
        font-size: 12px;
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }
    .customize .topping-image{
        margin-left: -75px;
        margin-top: -75px;
        width: 150px;
        height: 150px;
    }
    .customize .topping-image img{
        width: 150px;
        height: 150px;
    }
    .customize .topping-image mat-icon{
        right: 5px;
        top: 5px;
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
    .customize .footer button{
        font-size: 18px;
        line-height: 16px;
        border: 1px solid white;
    }
    .customize .footer div{
        width: 40px;
        height: 40px;
    }
    .customize .footer mat-icon{
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 40px;
    }
}
