<div class="customize">
    <img class="background" src="assets/img/background.png" alt="MeetFresh background image"/>
    <div class="header">
        <p class="customize_name">Customize</p>
        <p class="bread_crumb" >
            Choose Any Toppings / Sugar & Ice Level
        </p>
    </div>
    <div class="box">
        <div class="order">
            <img src="{{product.img}}" alt="MeetFresh product image">
            <div class="description">
                <p class="name">{{product.name}}</p>
                <div class="separator">
                    <img src="/assets/img/1.png" alt="">
                </div>
                <p class="names" >
                    <span *ngFor="let item of global.current_products; let i = index" (click)="select(item)">
                        {{item.name}}
                        <span *ngIf="i != (global.current_products.length - 1)">, </span>
                    </span>
                </p>
                <p class="specification">*Contains Peanuts</p>
                <p class="price">{{product.price}}</p>
            </div>
        </div>
        <div class="topping">
            <div class="topping_price">
                <p>$1.0 / each</p>
                <p>$0.5 / each</p>
            </div>
            <div class="topping_content">
                <div class="topping_lists">
                    <div class="topping_list" *ngFor="let item of global.toppings">
                        <span class="item" (click)="show(item.img)">{{item.name}}</span>
                        <mat-icon (click)="decrease(item.name, 1, $event)">remove_circle</mat-icon>
                        <span class="count tp">0</span>
                        <mat-icon (click)="increase(item.name, 1, $event)">add_circle</mat-icon>
                    </div>
                </div>
                <div class="topping_lists">
                    <div class="topping_list" *ngFor="let item of global.toppings_secondary">
                        <span class="item" (click)="show(item.img)">{{item.name}}</span>
                        <mat-icon (click)="decrease(item.name, 0.5, $event)">remove_circle</mat-icon>
                        <span class="count tps">0</span>
                        <mat-icon (click)="increase(item.name, 0.5, $event)">add_circle</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="level_title">
                <p>Sugar Level</p>
                <p>Ice Level</p>
            </div>
            <div class="level_content">
                <div class="level_lists sugar_level">
                    <div class="level_list">
                        <span>Regular</span>
                        <mat-icon (click)="level($event)" value="regular">stop</mat-icon>
                    </div>
                    <div class="level_list">
                        <span>Half Sugar</span>
                        <mat-icon (click)="level($event)" value="half">crop_square</mat-icon>
                    </div>
                    <div class="level_list">
                        <span>Sugar Free</span>
                        <mat-icon (click)="level($event)" value="free">crop_square</mat-icon>
                    </div>
                </div>
                <div class="level_lists ice_level">
                    <div class="level_list">
                        <span>Regular</span>
                        <mat-icon (click)="level($event)" value="regular">stop</mat-icon>
                    </div>
                    <div class="level_list">
                        <span>Less Ice</span>
                        <mat-icon (click)="level($event)" value="less">crop_square</mat-icon>
                    </div>
                    <div class="level_list">
                        <span>No Ice</span>
                        <mat-icon (click)="level($event)" value="no">crop_square</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button type="button" name="button" (click)="back()">Back</button>
        <button type="button" name="button" (click)="confirm()">Confirm</button>
    </div>
    <div class="sbm">
        Powered By SBM Technology Corp
    </div>
    <div class="topping-image">
        <img src="" alt="MeetFresh Topping image">
        <mat-icon (click)="hide()">close</mat-icon>
    </div>
</div>
