<div class="customize">
    <img class="background" src="assets/img/v2/background.jpg" alt="MeetFresh background image"/>
    <div class="header">
        <p class="customize_name">Customize</p>
        <p class="bread_crumb" >Choose Any Toppings / Sugar & Ice Level</p>
    </div>
    <div class="box">
        <div class="order">
            <img src="{{product.img}}" alt="MeetFresh product image">
            <div class="description">
                <p class="name">{{product.name}}</p>
                <img class="separator" src="/assets/img/v2/decorator2.png" alt="">
                <p class="names">Taro Balls, Red Beans, Peanuts, Boba, Shaved Ice</p>
                <p class="specification">*Contains Peanuts</p>
            </div>
        </div>
        <div class="topping">
            <p>$1.0 / each</p>
            <div class="topping_list" *ngFor="let item of global.toppings">
                <span class="item" (click)="show(item.img)">{{item.name}}</span>
                <span class="count tp">0</span>
                <mat-icon (click)="increase(item.name, 1, $event)">add_circle</mat-icon>
                <mat-icon (click)="decrease(item.name, 1, $event)">remove_circle</mat-icon>
            </div>
            <p>$0.5 / each</p>
            <div class="topping_list" *ngFor="let item of global.toppings_secondary">
                <span class="item" (click)="show(item.img)">{{item.name}}</span>
                <span class="count tps">0</span>
                <mat-icon (click)="increase(item.name, 0.5, $event)">add_circle</mat-icon>
                <mat-icon (click)="decrease(item.name, 0.5, $event)">remove_circle</mat-icon>
            </div>
        </div>
        <div class="level">
            <div class="sugar_level">
                <p>Sugar Level</p>
                <div class="lists">
                    <div class="level_list">
                        <span>Regular</span>
                        <span style="background: black;" checked="true" class="check" (click)="level($event)" value="regular"></span>
                    </div>
                    <div class="level_list">
                        <span>Half Sugar</span>
                        <span class="check" (click)="level($event)" value="half"></span>
                    </div>
                    <div class="level_list">
                        <span>Sugar Free</span>
                        <span class="check" (click)="level($event)" value="free"></span>
                    </div>
                </div>
            </div>
            <div class="ice_level">
                <p>Ice Level</p>
                <div class="lists">
                    <div class="level_list">
                        <span>Regular</span>
                        <span style="background: black;" checked="true" class="check" (click)="level($event)" value="regular"></span>
                    </div>
                    <div class="level_list">
                        <span>Less Ice</span>
                        <span class="check" (click)="level($event)" value="less"></span>
                    </div>
                    <div class="level_list">
                        <span>No Ice</span>
                        <span class="check" (click)="level($event)" value="no"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button type="button" name="menu" (click)="go_menu()">Menu</button>
        <button type="button" name="back" (click)="add_cart()">Add to cart</button>
        <div class="home">
            <mat-icon (click)="home()">home</mat-icon>
        </div>
        <div class="cart">
            <mat-icon (click)="cart()">shopping_cart</mat-icon>
        </div>
    </div>
    <app-sbm></app-sbm>
    <div class="topping-image">
        <img src="" alt="MeetFresh Topping image">
        <mat-icon (click)="hide()">close</mat-icon>
    </div>
</div>
