<div class="checkout">
    <div class="panel">
        <div class="panel-heading">
            <h3>Payment details</h3>
            <img src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png" alt="Payment methods">
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <label for="Card number">CARD NUMBER</label>
                    <div class="input-group">
                        <input type="text" placeholder="Valid card number">
                    </div>
                </div>
                <div class="row">
                    <div class="half">
                        <label for="Exp date">EXP DATE</label>
                        <div class="input-group">
                            <input type="text" placeholder="MM/YY">
                        </div>
                    </div>
                    <div class="half" style="float: right;">
                        <label for="CV Code">CV CODE</label>
                        <div class="input-group">
                            <input type="text" placeholder="CVC">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="Card owner">CARD OWNER</label>
                    <div class="input-group">
                        <input type="text" placeholder="Card owner name">
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <button type="button" name="button">Process payment</button>
        </div>
    </div>
</div>
