<div class="confirm">
    <img class="background" src="assets/img/v2/background.jpg" alt="MeetFresh Confirm">
    <div class="header">
        <p class="confirm_name">Confirm Your Order</p>
    </div>
    <div class="box">
        <table>
            <thead>
                <tr>
                    <td style="width: 4.6%;"></td>
                    <td style="width: 21%;">Item</td>
                    <td style="width: 37.2%;">Topping</td>
                    <td style="width: 23.25%;">Quantity</td>
                    <td style="width: 14%;">Price</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products">
                    <td class="action"><mat-icon (click)="remove(item)">cancel</mat-icon></td>
                    <td class="item">
                        <p>{{item.name}} ${{item.price}}</p>
                    </td>
                    <td class="topping">
                        <div *ngFor="let tp of item.topping">
                            <p>{{tp.name}}</p>
                            <span>{{tp.count}}</span>
                            <mat-icon class="plus" (click)="t_increase(item, tp)">add_circle</mat-icon>
                            <mat-icon class="minus" (click)="t_decrease(item, tp)">remove_circle</mat-icon>
                        </div>
                        <div *ngFor="let tps of item.topping_secondary">
                            <p>{{tps.name}}</p>
                            <span>{{tps.count}}</span>
                            <mat-icon class="plus" (click)="ts_increase(item, tps)">add_circle</mat-icon>
                            <mat-icon class="minus" (click)="ts_decrease(item, tps)">remove_circle</mat-icon>
                        </div>

                    </td>
                    <td class="quantity">
                        <span>{{item.qty}}</span>
                        <mat-icon class="plus" (click)="increase(item)">add_circle</mat-icon>
                        <mat-icon class="minus" (click)="decrease(item)">remove_circle</mat-icon>
                    </td>
                    <td class="price">${{item.total_price.toFixed(2)}}</td>
                </tr>
            </tbody>
        </table>
        <span class="total">Total <span>${{price.toFixed(2)}}</span></span>
    </div>
    <div class="footer">
        <div class="cancel">
            <mat-icon (click)="cancel()">close</mat-icon>
        </div>
        <div class="back">
            <mat-icon (click)="back()">arrow_back</mat-icon>
        </div>
        <div class="home">
            <mat-icon (click)="go_menu()">home</mat-icon>
        </div>
        <div class="home">
            <mat-icon (click)="checkout()">check</mat-icon>
        </div>
    </div>
    <app-sbm></app-sbm>
    <div class="modal_body" *ngIf="showCancelModal">
        <div class="modal">
            <h1>Are you sure want to<br> cancel this order?</h1>
            <button type="button" name="button" (click)="yes()">Yes</button>
            <button type="button" name="button" (click)="no()">No</button>
        </div>
    </div>
</div>
