<div class="confirm">
    <img class="background" src="assets/img/background.png" alt="MeetFresh Confirm">
    <div class="header">
        <p class="confirm_name">Confirm Your Order</p>
    </div>
    <div class="box">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td style="text-align: left">Item</td>
                    <td style="text-align: left">Topping</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products">
                    <td class="action"><mat-icon (click)="remove(item)">cancel</mat-icon></td>
                    <td class="item">
                        <p>{{item.name}}</p>
                        <p>${{item.price}}</p>
                    </td>
                    <td class="topping">
                        <p *ngFor="let tp of item.topping">{{tp.name}} * {{tp.count}}</p>
                        <p *ngFor="let tps of item.topping_secondary">{{tps.name}} * {{tps.count}}</p>
                    </td>
                    <td class="quantity">
                        <mat-icon (click)="decrease(item)">remove_circle</mat-icon>
                        <span>{{item.qty}}</span>
                        <mat-icon (click)="increase(item)">add_circle</mat-icon>
                    </td>
                    <td class="price">{{item.total_price.toFixed(2)}}</td>
                </tr>
            </tbody>
        </table>
        <span class="total">Total <span>{{price.toFixed(2)}}</span></span>
    </div>
    <div class="footer">
        <button type="button" name="button" (click)="back()">Back</button>
        <button type="button" name="button" (click)="confirm()">Confirm</button>
    </div>
    <div class="sbm">
        Powered By SBM Technology Corp
    </div>
</div>
