<div class="member">
    <img class="background" src="/assets/img/v2/background.jpg" alt="MeetFresh background">
    <div class="header">
        <p class="member_name">Are you a member?</p>
    </div>
    <div class="box">
        <div class="barcode" (click)="scan()">
            <h1>Member Login</h1>
            <div>
                <img src="/assets/img/v2/barcode.png" alt="Barcode scanner">
            </div>
            <h3>Scan your<br> membership barcode</h3>
        </div>
        <div class="nonmember" (click)="payment()">
            <h1>Non-Member</h1>
            <div>
                <img src="/assets/img/v2/pic.png" alt="Non member">
            </div>
            <h3>Join later</h3>
        </div>
    </div>
    <div class="footer">
        <div class="cancel">
            <mat-icon (click)="cancel()">close</mat-icon>
        </div>
        <div class="home">
            <mat-icon (click)="go_menu()">home</mat-icon>
        </div>
        <div class="back">
            <mat-icon (click)="back()">arrow_back</mat-icon>
        </div>
    </div>
    <app-sbm></app-sbm>
    <div class="modal_body" *ngIf="showCancelModal">
        <div class="modal">
            <h1>Are you sure want to<br> cancel this order?</h1>
            <button type="button" name="button" (click)="yes()">Yes</button>
            <button type="button" name="button" (click)="no()">No</button>
        </div>
    </div>
</div>
