/* You can add global styles to this file, and also import other style files */
/* font-family: 'Cookie', cursive; */
@font-face {
    font-family: 'texgyreadventor';
    src: url('assets/font/texgyreadventor-regular.otf');
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'texgyreadventor', sans-serif; }
