.category{
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 100%;
}
.category .background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.category .category-item{
    position: relative;
}
.category .category-item img{
    max-width: 180px;
    width: 44vw;
}
.category .category-item .category-name{
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}
.category .sbm{
    position: fixed;
    font-size: 10px;
    bottom: 0;
    line-height: 25px;
}
